<section id="footer">
  <div class="footer bg-dark text-light">
    <div class="container py-2">
      <div class="row">
        <div class="col-md-3 text-end my-auto">

          <ul class="list-unstyled">
            <li>Home</li>
            <li>Templates</li>
            <li>About</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="col-md-6 my-auto">
          <div class="text-danger border-start border-end border-danger text-center">
            <span class="text-wrap" style="font-size: 50px;">MyResume</span>
          </div>
        </div>

        <div class="col-md-3 text-start my-auto">

          <ul class="list-unstyled">
            <li>Privacy-Policy</li>
            <li>Support</li>
            <li>Refund</li>
            <li>Licence</li>
          </ul>
        </div>

      </div>

      <div class="row text-center">
        <div class="col-md-12 border-bottom border-danger">
        </div>
        <div class="col-md-12">
          <p class="h5 py-2">Design & Developed By : <span class="text-danger">Shingadiya Ravi</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
