<section id="about">
  <div class="">
    <div class="container-fluid text-center py-5">
      <div class="row">
        <div class="col-md-12">
          <div class="">
            <h1>Find out more&nbsp;<span class="text-danger display-5"><u>About Us</u></span></h1>
            <p class="h3 text-muted">Our technology and UX-driven approach makes creating resumes a breeze</p>
          </div>
          <div>
          </div>

        </div>
      </div>

    </div>
    <div class="container-fluid bg-light py-5">
      <div class="row px-5">

        <div class="col-md-4">
          <h1 class="">Meet our small innovative team that’s behind FreshResume </h1>
        </div>
        <div class="col-md-8">
          <p class="text-muted">FreshResume was created by a small and innovative team that’s based in the heart of Bangkok, Thailand. With our UX driven approach, we aim to create the market’s leading resume builder that makes creating a CV easier than ever. Our team is made up of a multicultural mix of developers, designers and marketers that came together to create something magical. Over the coming months we aim to keep adding new features and capabilities to FreshResume, that will allow you to create stunning, and professional CVs in just a couple of minutes. If you would like to talk to our team or have questions in regards to our product, just reach out to us at <a href="">support@myresume.io</a></p>
        </div>

      </div>
    </div>
  </div>
</section>
