<p>test works!</p>
<!--
<section id="encrypt decrypt">
  <h1>{{ name }}</h1>

  <button class="btn btn-danger" (click)="encryptData()">Encrypt Data</button>

  <button class="btn btn-danger" (click)="decryptData()">Decrypt Data</button>
</section> -->


<section id="api json data">
<!-- <button class="btn btn-danger" (click)="getData()">get Data</button> -->
<hr>
<!-- <span id="data">{{ data.resume | json }}</span> -->

<pre>{{ data | json }}</pre>
<hr>

<!-- <img [src]="userProfile"  width="200"/> -->

<hr><hr>
<pre>{{ resumeData | json }}</pre>
</section>

<!-- <button clas="btn btn-primary" (click)="getImage('test.jpg')">Click To Get Image</button> -->

<!-- <img [src]="data.data" width="500px"> -->




