/* input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched{
  border:yellow 2px solid;
} */



/* ::ng-deep .custom-swal {
  height: 50px !important;
  background-color: red !important;
} */

