<!-- Start Top Hero Part -->
<section id="home-hero">
  <div class="hero">
    <div class="container-fluid text-center p-5">
      <div class="row p-md-5">
        <div class="col-md-12">
          <div>
            <h1 class="display-2">Create your winning <span class="text-danger">
                <u>RESUME</u>
              </span><br>in minutes. Get hired fast!</h1>
            <p class="text-muted h3">Use our field-tested templates to create a resume and land your
              dream job.</p>
          </div>
          <div class="p-md-5">
            <a routerLink="templates" class="btn btn-danger">Create Resume</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Top Hero Part -->

<!-- Start Steps Part -->
<section id="home-steps">
  <div class="steps bg-danger">
    <div class="container-fluid text-center py-5">
      <div class="row">
        <div class="col-md-12">

          <div class="steps-title">
            <div class="text-light">
              <h1>It’s so easy, you don’t even need to think</h1>
            </div>
          </div>

          <div class="steps">
            <div class="container pb-5">
              <div class="row">
                <div class="col-md-4 mt-sm-5">
                  <div class="card">
                    <span class="text-danger pt-3">
                      <i class="fa-solid fa-user-plus" style="font-size: 50px;"></i>
                    </span>
                    <div class="card-body">
                      <h3 class="card-title">Add your info</h3>
                      <p class="card-text text-muted">Use pre-written phrases and nteractive
                        layouts tocreate a winning resume</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mt-sm-5">
                  <div class="card">
                    <span class="text-danger pt-3">
                      <i class="fa-solid fa-table-columns" style="font-size: 50px;"></i>
                    </span>
                    <div class="card-body">
                      <h3 class="card-title">Pick a template</h3>
                      <p class="card-text text-muted">Select our template from a range of
                        field-tested styles and resume formats</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 mt-sm-5">
                  <div class="card">
                    <span class="text-danger pt-3">
                      <i class="fa-sharp fa-solid fa-download" style="font-size: 50px;"></i>
                    </span>
                    <div class="card-body">
                      <h3 class="card-title">Download Resumes!</h3>
                      <p class="card-text text-muted">Download your resume or share your resume for apply to job !</p>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>

          <div class="create">
            <a routerLink="templates" class="btn btn-outline-dark">Create Resume</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<!-- End Steps Part -->

<!-- Start Slider Part -->
<!-- <section>
  <div class="slider">

    <div class="container mx-auto">
      <div class="row p-md-5">
        <div class="col-md-6 border-bottom border-end border-3 rounded-5 border-danger p-5 bg-dark">
          <div id="" class="carousel bg-danger h-25 rounded-5 rounded-bottom p-5" data-bs-ride="carousel">
            <div class="carousel-inner text-center">
              <h1 class="text-light">Choose Resume</h1>

              <div>
              </div>
              <div class="carousel-item  active" data-bs-interval="1000">
                <img src="./assets/User/Images/biodata.png" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="./assets/User/Images/cv.png" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="./assets/User/Images/resume.png" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="./assets/User/Images/biodata.png" class="img-fluid" alt="...">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 border-bottom border-start border-3 rounded-5 border-danger p-5 bg-dark">
          <div id="" class="carousel bg-danger h-50 rounded-bottom rounded-5 p-5" data-bs-ride="carousel">
            <div class="carousel-inner text-center">
              <h1 class="text-light">Choose CV</h1>
              <div class="carousel-item  active" data-bs-interval="1000">
                <img src="./assets/User/Images/biodata.png" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item " data-bs-interval="1000">
                <img src="./assets/User/Images/cv.png" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="./assets/User/Images/resume.png" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item " data-bs-interval="1000">
                <img src="./assets/User/Images/biodata.png" class="img-fluid" alt="...">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section> -->
<!-- End Slider Part -->

<!-- Start Services Part -->
<section id="services">
  <div class="resume my-5">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-6 px-5 text-center">
          <img src="./assets/User/Images/resume.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 my-auto px-5 ">
          <h1 class="display-5">Remove the headache<br>from creating a resume</h1>
          <p class="text-muted h3 py-3">We take care of the formatting, spell-check your content & even
            provide you with pre-written phrases to use. What could be easier?</p>
          <button class="btn btn-danger">Create Resume</button>
        </div>
      </div>
    </div>
  </div>

  <div class="cv my-5 bg-light">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-6 my-auto px-5 py-2">
          <h1 class="display-5">Remove the headache<br>from creating a CV</h1>
          <p class="text-muted h3 py-3">We take care of the formatting, spell-check your content & even
            provide you with pre-written phrases to use. What could be easier?</p>
          <button class="btn btn-danger">Create CV</button>
        </div>
        <div class="col-md-6 px-5 text-center">
          <img src="./assets/User/Images/cv.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

  <div class="biodata my-1">
    <div class="container">
      <div class="row py-5">
        <div class="col-md-6 px-5 text-center">
          <img src="./assets/User/Images/biodata.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-6 my-auto px-5">
          <h1 class="display-5">Remove the headache<br>from creating a biodata</h1>
          <p class="text-muted h3 py-3">We take care of the formatting, spell-check your content & even
            provide you with pre-written phrases to use. What could be easier?</p>
          <button class="btn btn-danger mb-3">Create Biodata</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Services Part -->

<!-- Start Why Part -->
<section id="short">
  <div class="bg-danger">
    <div class="container text-center py-5">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4">Why take the long way around?</h1>
          <p class="h3 text-light py-2 pb-5">We know a shortcut. Join 1,00,000 job seekers worldwide and
            build your best resume yet.</p>
          <a routerLink="templates" class="btn btn-outline-dark text-center">
            Create Resume
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Why Part -->


