<section id="template-list" class="bg-light">
  <div class="container p-5">
    <div class="row">


      <div class="col-md-6 pt-5" *ngFor="let i of [4,2,3,1]">

        <div class="card border-0 shadow bg-danger">
          <img class="card-img-top" height="250px"  src='../../../assets/User/Images/Hero/slide_0{{i}}.jpg'
            alt="Card image cap">
          <div class="card-body text-center">
            <a routerLink='first-template' class="card-text btn btn-danger">Edit This Template</a>
          </div>
        </div>

      </div>



      <div class="col-md-6 pt-5">
        <div class="card shadow border-0">
          <img class="card-img-top img-fluid w-75 mx-auto border-radius"
            src="../../../assets/User/Images/Hero/slide_02.jpg" alt="Card image cap">
          <div class="card-body text-center">
            <h1 class="card-text"><span class="btn btn-danger">Edit This Template bt</span></h1>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>
